<section id="login">
	<h2>Register</h2>
	<form name="form" novalidate>
		<div class="form-group">
			<label for="username">E-mail</label>
			<input type="email" name="email" class="form-control" placeholder="email@domain.com">
		</div>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" class="form-control" placeholder="Enter your name...">
		</div>
		<div class="form-group">
			<label for="username">Telephone number</label>
			<input type="text" name="phone" class="form-control" placeholder="Enter your phone number...">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control" placeholder="Enter password for the account...">
		</div>
		<div class="form-group">
			<label for="password">Repeat password</label>
			<input type="password" name="repeatpass" class="form-control" placeholder="Repeat the password....">
		</div>
		<button class="btn btn-sm btn-black btn-login">Login</button>
	</form>
	<div class="row">
		<div class="col-md-6 text-left">
			<a href="#/login">Login</a>
		</div>
	</div>
</section>